*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Noto Sans', sans-serif;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    background:url("./background.jpg")no-repeat center center/cover;
   text-align: center;
}
a{
    text-decoration: none;
}
h1{
    color: black;
}
#card{
    /* border: 3px solid white; */
    position: relative;
    width: 25%;
    text-align: center;
    justify-content: center;
    margin:0px auto;
    margin-top: 50px;   
    background-color:white;
    z-index: -4;
   
}
#card #top img{
    position: absolute;
    width: 100%;
    height: 30%;
    z-index: -1;
    margin-left:-171px ;
}
#card .me{
    width: 35%;
    border-radius: 50%;
    margin-top: 73px;
}
#card #about-me ul{
    text-align: start;
    margin-left: 40px;
}
#card #about-me ul li{
    display: flex;
    margin-top: 10px;
    color: rgb(51, 51, 51);
}
#card #about-me ul li i{
    font-size: 22px;
    color: black;
    margin-right: 5px;
}
#card #social{
    margin: 30px 90px;
}
#card #social ul{
   
    display: flex;
}
#card #social ul li{
    display: flex;
    margin-left: 10px;
}
#card #social img{
    width: 120%;
}
button{
    border: none;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 25%;
    border-radius: 10px;
 margin: 10px auto;
 background-color: rgb(79, 79, 253);
    color: white;
}
button:hover{
    background-color: blue;
    transition: 1s;
}

@media (max-width:576px) {
    #card{
        width: 90%;       
}
#card #top img{
    margin-left:-162px ;
}   
#card #social{
    margin: 30px 110px;
}
button{
    width: 90%;
}
}
